/* .myGallery{
    margin-top: 100px;
} */
.myCode {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f7f2d2;
    border: none; 
    border-radius: 0px; 
}
.imgGrid{
    width: 502px;
    height: 295px;
    text-align: center;
    background-color:rgb(119, 27, 146);
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 20px;
    float: left;
}
select:invalid { color: gray; }