.tableHead{
    background-color:rgb(119, 27, 146);
    color:#fff;
}
/* .heading{
    margin-top: 100px;
} */
.tableCaption{
    border-bottom: 2px solid indigo;
    color: indigo;
}
.headline{
    margin-top: 0px;
    padding:20px;
    color:black;
    display:inline-block;
}
.modal.show {
    display:block;
  }